html {
  background-color: #99ff33;
}
body {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ccffff;
}
.round {
  border-radius: 50%;
  border: 3px solid #b33c00;
}
