html {
  background-color: #99ff33;
}
.body {
  width: 940px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ccffff;
  box-sizing: border-box;
}
.round {
  border-radius: 50%;
  border: 3px solid #b33c00;
}
